type project
id Rdf.Vocabularies
excludeddependencies
  GitVersionTask
iconUrl
  http://www.w3.org/RDF/icons/rdf_w3c_icon.64
tags
  rdf semantic web
copyright 
  Copyright 2016 Tomasz Pluskiewicz
licenseUrl
  https://raw.githubusercontent.com/wikibus/Rdf.Vocabularies/master/LICENCE
projectUrl
  https://github.com/wikibus/Rdf.Vocabularies